<%# /*format of email to be sent to Host upon denial*/ %> 

<p>
    Hi <%= first_name %>, <br/>
    We regret to inform you that your application to hold a <%= wbgs %> will not proceed due to the following reason(s):<br/>
    <p>
    <%= denied_reason %> 
    </p><br/>
    <br/>
    Kind regards,<br/>
    <%= wbgs %> team.
</p>