<%# /*format of email to be sent to Host*/ %> 

<p>
    Hi <%= first_name %>, <br/>
    Thankyou for expressing interest in holding a <%= wbgs %> in your local community!<br/>
    Your submission has been recieved, and we will reply to you shortly.<br/>
    <br/>
    Kind regards,<br/>
    <%= wbgs %> team.
</p>